USE [master]
GO
/****** Object:  Database [Fassenger]    Script Date: 3/6/2019 10:26:58 AM ******/
CREATE DATABASE [Fassenger]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fassenger', FILENAME = N'D:\Application\Sql server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Fassenger.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [images] CONTAINS FILESTREAM  DEFAULT
( NAME = N'images', FILENAME = N'D:\Application\FassengerImages\images' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'Fassenger_log', FILENAME = N'D:\Application\Sql server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Fassenger_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fassenger].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fassenger]
GO
/****** Object:  Table [dbo].[FassengerMessage]    Script Date: 3/6/2019 10:26:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FassengerMessage](
	[Id] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[DateCreated] [date] NOT NULL,
	[ContentImage] [varbinary](max) FILESTREAM  NULL,
	[ContentText] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY] FILESTREAM_ON [images],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY] FILESTREAM_ON [images]
GO
/****** Object:  Table [dbo].[FassengerUser]    Script Date: 3/6/2019 10:26:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FassengerUser](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Nickname] [nvarchar](100) NULL,
	[UserPassword] [varchar](20) NOT NULL,
	[Avatar] [varbinary](max) FILESTREAM  NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY] FILESTREAM_ON [images],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [images]
GO
ALTER TABLE [dbo].[FassengerMessage]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[FassengerUser] ([Id])
GO
USE [master]
GO
